$colorPrimario:#fff;
// $colorSecundario:rgb(23, 144, 214);
$colorSecundario:rgba(6, 119, 194, 0.667);
$color3: #777;
$color4: #019966;
$color5: #00a5cd;
$color6: #312b73;
$color7: #000;
$transparencia: rgba(0, 0, 0, .55);