$colorPrimario:#fff;
$colorSecundario:rgba(6, 119, 194, 0.667);
$color3: #777;
$color4: #019966;
$color5: #00a5cd;
$color10: #1d8aa5;
$color6: #312b73;
$color7: #000;
$color8: red;
$color9: #ccc;
$transparencia: rgba(0, 0, 0, .55);